
{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Sucess
{% endblock title %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card border-3 border-tertiary shadow-lg" style="background-color: rgba(255, 255, 255, 0.1); width: 30rem;">
        <div class="card-body">

          <p class="display-6 text-center">We have emailed you the password reset instructioms.</p>
        </div>
    </div>
  </div>
</div>



{% endblock content %}

