<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vending Shop Overview</title>
  </head>
  <body
    style="
      font-family: Helvetica, Arial, sans-serif;
      font-size: 12pt;
      line-height: 1.3;
      color: #333;
    "
  >
    <div id="header_content" style="text-align: center">
      <h1 style="color: #2c3e50; margin: 0">Vending Shop Overview</h1>
    </div>

    <div id="content">
      <h2
        style="
          color: #34495e;
          border-bottom: 2px solid #34495e;
          padding-bottom: 5px;
        "
      >
        Shop Information
      </h2>
      <table
        style="width: 100%; border-collapse: collapse; margin-bottom: 20px"
      >
        <tr>
          <td
            style="
              font-weight: bold;
              padding: 5px;
              border: 1px solid #bdc3c7;
              width: 30%;
            "
          >
            Name:
          </td>
          <td style="padding: 5px; border: 1px solid #bdc3c7">
            {{ shop.name }}
          </td>
        </tr>
        <tr>
          <td
            style="font-weight: bold; padding: 5px; border: 1px solid #bdc3c7"
          >
            Location:
          </td>
          <td style="padding: 5px; border: 1px solid #bdc3c7">
            {{ shop.location }}
          </td>
        </tr>
        <tr>
          <td
            style="font-weight: bold; padding: 5px; border: 1px solid #bdc3c7"
          >
            Amount Gained:
          </td>
          <td style="padding: 5px; border: 1px solid #bdc3c7">
            Ksh. {{ shop.amount }}
          </td>
        </tr>
        <tr>
          <td
            style="font-weight: bold; padding: 5px; border: 1px solid #bdc3c7"
          >
            Total Sales:
          </td>
          <td style="padding: 5px; border: 1px solid #bdc3c7">
            {{ shop.total_sales }}
          </td>
        </tr>
        <tr>
          <td
            style="font-weight: bold; padding: 5px; border: 1px solid #bdc3c7"
          >
            Owner:
          </td>
          <td style="padding: 5px; border: 1px solid #bdc3c7">
            {{ shop.owner }}
          </td>
        </tr>
      </table>

      <h2
        style="
          color: #34495e;
          border-bottom: 2px solid #34495e;
          padding-bottom: 5px;
        "
      >
        Machines Overview
      </h2>
      <table
        style="width: 100%; border-collapse: collapse; margin-bottom: 20px"
      >
        <thead>
          <tr style="background-color: #ecf0f1">
            <th
              style="
                font-weight: bold;
                padding: 8px;
                border: 1px solid #bdc3c7;
                text-align: left;
              "
            >
              Serial Number
            </th>
            <th
              style="
                font-weight: bold;
                padding: 8px;
                border: 1px solid #bdc3c7;
                text-align: left;
              "
            >
              Machine Type
            </th>
            <th
              style="
                font-weight: bold;
                padding: 8px;
                border: 1px solid #bdc3c7;
                text-align: left;
              "
            >
              Days Active
            </th>

            <th
              style="
                font-weight: bold;
                padding: 8px;
                border: 1px solid #bdc3c7;
                text-align: left;
              "
            >
              Total Amount
            </th>
            <th
              style="
                font-weight: bold;
                padding: 8px;
                border: 1px solid #bdc3c7;
                text-align: left;
              "
            >
              Total Volume
            </th>
            <th
              style="
                font-weight: bold;
                padding: 8px;
                border: 1px solid #bdc3c7;
                text-align: left;
              "
            >
              Price
            </th>
          </tr>
        </thead>
        <tbody>
          {% for machine in machines %}
          <tr>
            <td style="padding: 8px; border: 1px solid #bdc3c7">
              {{ machine.serial_number|truncatechars:9 }}
            </td>
            <td style="padding: 8px; border: 1px solid #bdc3c7">
              {{ machine.machine_type }}
            </td>
            <td style="padding: 8px; border: 1px solid #bdc3c7">
              {{ machine.days_used }}
            </td>
            <td style="padding: 8px; border: 1px solid #bdc3c7">
              {{ machine.total_amount }}
            </td>
            <td style="padding: 8px; border: 1px solid #bdc3c7">
              {{ machine.total_volume }}
            </td>
            <td style="padding: 8px; border: 1px solid #bdc3c7">
              {{ machine.price }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
     <div
      id="footer_content"
      style="text-align: center; font-size: 10pt; color: #7f8c8d"
    >
      <p>Generated on {{ generation_date }}</p>
    </div>
  </body>
</html>
